* {
  margin: 0;
}
.container {
  height: 960px;
  width: 960px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: calc(100% / var(--cells));
  aspect-ratio: 1/1;
  box-sizing: border-box;
}
.cell {
  width: 100%;
  box-sizing: border-box;
  aspect-ratio: 1/1;
}
